<div class="form-input-item">
  <label class="form-input-item--label">{{name}}</label>
  <input type="{{type}}" id="{{id}}" name="{{name}}" class="form-input-item--input {{class}}" />
  <label class="form-input-item--error">{{input-error}}</label>
</div>